<ion-content class="ion-padding">

  <section id="logomarca">
    DEFENSIO
  </section>

  <section id="formulario">

    <form>

        <div class="campo">
          <ion-input label="Nome Completo" labelPlacement="floating" [counter]="false" maxlength="80"></ion-input>
        </div>

        <div class="campo">
          <ion-input label="E-mail" labelPlacement="floating" [counter]="false" maxlength="80"></ion-input>
        </div>

        <div class="campo">
          <ion-button routerLink="/principal">Acessar</ion-button>
        </div>

    </form>

  </section>

</ion-content>
